body,#menu li a,#testobasso a{
    color:white
}
body{
    text-align:center;
}
body,input{
    font-family:'Quicksand', sans-serif;
    font-weight:700;
    border-radius: 4%
}
#medio,#omnia {
    max-width:1200px
}
#logo,#omnia {
    margin:auto
}
body input{
    color:#282E3A !important;
    background: white;
    padding:3px
}
#omnia{
    background-color:#282E3A;
    display:block
}
table,#alto{
    margin-left:auto
}
table,#alto,#menu{
    margin-right:auto
}
#alto,#basso{
    width: 100%
}
#alto{
    position: relative;
    height:300px
}
#logo{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
}
#menu li {
    display:inline-block;
    width:15%;
    text-align:center
}
#menu li{
    height:50px
}
#menu li a,.testicomp,input,#mediotab{
    font-size:20px
}
#menu li a,#titolo1{
    line-height:50px
}
#menu li a{
    text-decoration:none
}
#titolo{
    font-size:100px;
    padding-top: 50px;
    margin-bottom:50px;
}
#medio {
    max-width:1200px;
    height:800px;
    margin-top:50px;
    text-align: center;
    margin-bottom: 120px
}
#mediohome,#medioarrivi,#mediologin,#medioregistrazione,
#mediorari,#medioareariservata{
    min-height:800px;
    line-height:20px;
    padding-bottom: 120px
}
#home, #mediohome {
    background-color:#ffde00  
}
#ultimiarrivi, #medioarrivi {
    background-color:#DB2972 
}
#login, #mediologin {
    background-color:#3FAB4B  
}
#registrazione,#medioregistrazione {
    background-color:#63C6E9   
}
#orari,#mediorari {
    background-color:#8a3a7f  
}
#logout,#medioareariservata{
    background-color:#ff8216  
}
table {
    text-align: left;
}
#basso {
    position:fixed;
    bottom:0px;
    left:0;
    height:120px;
    background-color:rgba(0,0,0,0.5)
}
#testobasso, #testobasso a{
    font-size:16px;
    line-height:140%;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:300
}
#titolo1 {
    font-size:25px;
    line-height:50px;
    padding:10px;
    padding-top: 50px
}
#medioarrivi div,#ar1ap,#ar2ap,#ar3ap{
    margin-top:20px
}
#medioarrivi div {
    font-size:15px;
    line-height:20px
}
#ar1a,#ar2a,#ar3a {
    display:none
}
#medioarrivi #ar1,#medioarrivi #ar2,#medioarrivi #ar3{
    font-size: 25px
}
#medioarrivi #ar1,#medioarrivi #ar2,#medioarrivi #ar3,.loginp,#mediotabella {
    margin-top: 50px
}
.mediotab{
    padding:10px
}
input{
    border:none
}
#ar1ap,#ar2ap,#ar3ap{
    padding: 0 250px
}
#bottone{
    padding:3px 10px;

}
#bottone,#grande{
    margin-top: 10px
}
.mediotab h4{
    text-align: right
}
table.form#meditabella{
    margin-left: 375px
}
#meditabella{
    margin-left: 400px
}
#chiuso{ 
    text-align: center
}
#grande{
    width: 710px;
}